<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ch.ethz.inf.pm.jml.plugin.LaunchConfiguration.JmlRac">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab1Distributed"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="processManaging.Slave"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab1Distributed"/>
</launchConfiguration>
